<%- include("../layouts/userHeader.ejs") %>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container m-3">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">LUXE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item "><a class="nav-link" href="/shop">Shop</a></li>
                            <% if (typeof user !=="undefined" ){ %>

								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">
										<%= user.name %>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link text-dark">Wallet : $ <%= user.wallet %></a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/userProfile">User details</a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
									</ul>
								</li>
								<li class="nav-item "><a class="nav-link" href="/wishlist">Wishlist</a></li>
								<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
											style="color: black;" class="ti-bag"></span></a></li>

								<% } else{%>

									<li class="nav-item"><a class="nav-link" href="/login">Log In/Sign UP</a></li>
									<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
												style="color: black;" class="ti-bag"></span></a></li>
									<%}%>
						</ul>
						
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Checkout</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="single-product.html">Checkout</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Checkout Area =================-->
    <section class="checkout_area section_gap">
        <div class="container">

            <div class="cupon_area">
                <div class="check_title">

                    <h2>Have a coupon? Click here to enter your code</h2>
                </div>
                <input type="text" placeholder="Enter coupon code" id="couponCode">
                <button id="applyBtn" class="tp_btn" onclick="getId()">Apply Coupon</button>

                <h4 style="color: red;" id="couponErr">

                </h4>

            </div>
            <div class="billing_details">
                <div class="row">
                    <div class="col-lg-6">
                        <h3>Shipping Details</h3>
                        <form id="checkout-form" class="row contact_form" method="post">

                            <div class="col-md-12 form-group">

                                <% if(user.address.length) { for(let i=0;i<user.address.length;i++) {%>
                                    <div class="creat_account">

                                        <input type="radio" id="f-option3" name="address"
                                            value="<%= user.address[i]._id%>">
                                        <label for="f-option3"></label>
                                    </div>

                                    <td>
                                        <h5>
                                            <%= i+1 %>
                                        </h5> <br>
                                        <%=user.address[i].name%><br>
                                            <%=user.address[i].email%><br>
                                                <%=user.address[i].mobile%><br>
                                                    <%=user.address[i].country%><br>
                                                        <%=user.address[i].state%><br>
                                                            <%=user.address[i].address%><br>
                                                                <%=user.address[i].landmark%><br>
                                                                    <%=user.address[i].pincode%><br>
                                    </td>
                                    <%}}%>
                            </div>



                            <a class="genric-btn btn-primary" href="/addAddress" type="submit">
                                Add new address
                            </a>








                    </div>
                    <div class="col-lg-6">

                        <div class="order_box">
                            <h2>Your Order</h2>
                            <ul class="list">
                                <li><a href="#">Product <span>Total</span></a></li>
                                <% productsData.forEach((productsData,index)=>{%>
                                    <li><a href="#">
                                            <%=productsData.productName%><span class="middle">x<%=
                                                        cartData[index].quantity %></span> <span class="last">
                                                    <%= cartData[index].total %>
                                                </span>
                                        </a></li>
                                    <% })%>
                            </ul>
                            <ul class="list list_2">
                                <li><a href="#">Shipping<span style="color:green">
                                            Free
                                        </span></a></li>

                                <li><a href="#">Discount <span id="couponDis">

                                        </span></a></li>

                                <li><a href="#">Total <span id="totalPrice">
                                            <%= subtotal %>
                                        </span></a></li>
                            </ul>
                            <div class="payment_item ">
                                <div class="radion_btn">
                                    <input type="radio" id="f-option5" name="paymentMethod" value="Cash On Delivery">
                                    <label for="f-option5">COD-Cash On Delivery</label>
                                    <div class="check"></div>
                                </div>
                                <div class="radion_btn">
                                    <input type="radio" id="f-option6" name="paymentMethod" value="Online Payment">
                                    <label for="f-option6">Pay Online</label>
                                    <div class="check"></div>
                                </div>
                                <p>Please send a check to Store Name, Store Street, Store Town, Store State / County,
                                    Store Postcode.</p>
                            </div>

                            <div class="creat_account">
                                <input type="checkbox" id="f-option4" name="selector">
                                <label for="f-option4">I’ve read and accept the </label>
                                <a href="#">terms & conditions*</a>
                            </div>
                            <button class="primary-btn" type="submit">Confirm Order</button>
                            <% if(typeof errMessage !=='undefined' ){ %>
                                <h4 style="color: red;">
                                    <%= errMessage %>
                                </h4>
                                <% } %>
                        </div>

                    </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
    <!--================End Checkout Area =================-->

    <!-- start footer Area -->
 
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        // Razor Payment
        $("#checkout-form").submit((e) => {
            let payment = $('input[name=paymentMethod]:checked').val();
            let address = $('input[name=address]:checked').val();
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '/checkout',
                data: {
                    address: address,
                    paymentMethod: payment
                },

                success: (response) => {
                    if (response.success) {
                        location.href = '/confirmation'
                        console.log(response)
                    } else {
                        razorPayment(response.order)
                        console.log(response.order)
                    }
                },
            })
        })
        function razorPayment(order) {
            var options = {
                "key": "rzp_test_Vs166jfbiHLS90", // Enter the Key ID generated from the Dashboard
                "amount": order.amount, // Amount is in currency subunits. Default currency is INR. Hence, 50000 refers to 50000 paise
                "currency": "INR",
                "name": "LUXE", //your business name
                "description": "Test Transaction",
                "image": "https://example.com/your_logo",
                "order_id": order.id, //This is a sample Order ID. Pass the id obtained in the response of Step 1
                "handler": function (response) {
                    verifyPayment(response, order)
                },
                "prefill": {
                    "name": "userData.name", //your customer's name
                    "email": "userData.email",
                    "contact": "userData.mobile"
                },
                "notes": {
                    "address": "Razorpay Corporate Office"
                },
                "theme": {
                    "color": "#ff6b6b"
                }
            };
            var rzp1 = new Razorpay(options);
            rzp1.open();
        }
        function verifyPayment(payment, order) {
            $.ajax({
                type: "POST",
                url: "/verifyPayment",
                data: {
                    order,
                    payment
                },
                success: function (response) {
                    if (response.success) {
                        location.href = '/confirmation'
                        console.log('Order success')
                    } else {
                        console.log('Order Failed')
                    }
                }
            })
        }

        function getId() {
            const couponCode = document.getElementById('couponCode').value

            console.log("abcd")
            $.ajax({
                type: "POST",
                url: "/applyCoupon",
                data: { couponCode: couponCode },
                success: function (response) {
                    if (response.success) {
                        let coupon = response.couponDetails
                        document.getElementById("couponErr").innerHTML = ""
                        if (response.userUsed) {
                            document.getElementById("couponErr").innerHTML = "This Coupon code already used"
                        }
                        else if (response.totalUsageErr) {
                            document.getElementById("couponErr").innerHTML = "The Coupon code you entered is fully claimed"
                        }
                        else if (response.expiryDateErr) {
                            document.getElementById("couponErr").innerHTML = "The Coupon code you entered expired"
                        } else if (response.minOrderErr) {
                            document.getElementById("couponErr").innerHTML = "This Coupon is only valid for above " + coupon.minOrder
                        } else {
                            if (coupon.type == "Percentage") {
                                let totalPrice = document.getElementById("totalPrice").innerHTML;
                                let couponPercentage = coupon.value
                                let couponDiscount = couponPercentage / 100;
                                let maxDiscount = coupon.maxDiscount;
                                let discount = Number(totalPrice) * couponDiscount;
                                if (discount > maxDiscount) {
                                    discount = maxDiscount;
                                }
                                document.getElementById("couponDis").innerHTML = (discount).toFixed(2);
                                document.getElementById("totalPrice").innerHTML = (Number(totalPrice) - discount).toFixed(2);
                                document.getElementById("applyBtn").innerHTML = "Remove Coupon";
                                document.getElementById("couponCode").disabled = true;
                            } else {
                                document.getElementById("couponDis").innerHTML = (coupon.value).toFixed(2);
                                let totalPrice = document.getElementById("totalPrice").innerHTML;
                                document.getElementById("totalPrice").innerHTML = (Number(totalPrice) - coupon.value).toFixed(2);
                                document.getElementById("applyBtn").innerHTML = "Remove Coupon";
                                document.getElementById("couponCode").disabled = true;
                            }
                        }
                        console.log(response.CouponDetails)
                    } else {
                        if (response.applied) {
                            let couponDis = document.getElementById("couponDis").innerHTML;
                            let totalPrice = document.getElementById("totalPrice").innerHTML;
                            document.getElementById("totalPrice").innerHTML = (Number(totalPrice) + Number(couponDis)).toFixed(2)
                            document.getElementById("couponDis").innerHTML = "00.00";
                            document.getElementById("applyBtn").innerHTML = "Apply";
                            document.getElementById("couponCode").value = "";
                            document.getElementById("couponCode").disabled = false;
                        } else {
                            document.getElementById("couponErr").innerHTML = "The Coupon code you entered is not valid."
                        }
                    }
                }
            })
        }
    </script>
    <%- include('../layouts/userFooter.ejs') %>