<%- include("../layouts/userHeader.ejs") %>

	<!-- Start Header Area -->
	<header class="header_area sticky-header">
		<div class="main_menu">
			<nav class="navbar navbar-expand-lg navbar-light main_box">
				<div class="container m-3">
					<!-- Brand and toggle get grouped for better mobile display -->
					<a class="navbar-brand logo_h" href="/">LUXE</a>
					<button class="navbar-toggler" type="button" data-toggle="collapse"
						data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
						aria-expanded="false" aria-label="Toggle navigation">
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<!-- Collect the nav links, forms, and other content for toggling -->
					<div class="collapse navbar-collapse offset" id="navbarSupportedContent">
						<ul class="nav navbar-nav menu_nav ml-auto">
							<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
							<li class="nav-item"><a class="nav-link" href="/shop">Shop</a></li>



							<% if (typeof user !=="undefined" ){ %>

								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">
										<%= user.name %>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link text-dark">Wallet : $ <%= user.wallet %></a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/userProfile">User details</a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
									</ul>
								</li>
								<li class="nav-item "><a class="nav-link" href="/wishlist">Wishlist</a></li>
								<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
											style="color: black;" class="ti-bag"></span></a></li>

								<% } else{%>

									<li class="nav-item"><a class="nav-link" href="/login">Log In/Sign UP</a></li>
									<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
												style="color: black;" class="ti-bag"></span></a></li>
									<%}%>
						</ul>
						
					</div>
				</div>
			</nav>
		</div>
		<div class="search_input" id="search_input_box">
			<div class="container">
				<form class="d-flex justify-content-between">
					<input type="text" class="form-control" id="search_input" placeholder="Search Here">
					<button type="submit" class="btn"></button>
					<span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
				</form>
			</div>
		</div>
	</header>
	<!-- End Header Area -->

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Login/Register</h1>
					<nav class="d-flex align-items-center">
						<a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="/user/img/login.jpg" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of
								this is the</p>
							<a class="primary-btn" href="/registration">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Log in to enter</h3>
						<form class="row login_form" method="post" id="contactForm">
							<div class="col-md-12 form-group">
								<input type="email" class="form-control" id="name" name="email" placeholder="Username"
									onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email'">
							</div>
							<div class="col-md-12 form-group">
								<input type="password" class="form-control" id="name" name="password"
									placeholder="Password" onfocus="this.placeholder = ''"
									onblur="this.placeholder = 'Password'">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit" value="submit" class="primary-btn">Log In</button>

								<% if(typeof errMessage !=='undefined' ){ %>
									<h4 style="color: red;">
										<%= errMessage %>
									</h4>
									<% } %>
										<a href="/getOTP">Log in with OTP</a>
										<a href="#">Forgot Password?</a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	<!-- start footer Area -->

	<!-- End footer Area -->


	<%- include('../layouts/userFooter.ejs') %>