<%- include("../layouts/userHeader.ejs") %>

    <!-- Start Header Area -->
    <header class="header_area sticky-header">
        <div class="main_menu">
            <nav class="navbar navbar-expand-lg navbar-light main_box">
                <div class="container m-3">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" href="/">LUXE</a>
                    <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                            <li class="nav-item "><a class="nav-link" href="/shop">Shop</a></li>


                        	<% if (typeof user !=="undefined" ){ %>

								<li class="nav-item submenu dropdown">
									<a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button"
										aria-haspopup="true" aria-expanded="false">
										<%= user.name %>
									</a>
									<ul class="dropdown-menu">
										<li class="nav-item"><a class="nav-link text-dark">Wallet : $ <%= user.wallet %></a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/orders">My Orders</a></li>
										<li class="nav-item"><a class="nav-link" href="/userProfile">User details</a>
										</li>
										<li class="nav-item"><a class="nav-link" href="/logout">LogOut</a></li>
									</ul>
								</li>
								<li class="nav-item "><a class="nav-link" href="/wishlist">Wishlist</a></li>
								<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
											style="color: black;" class="ti-bag"></span></a></li>

								<% } else{%>

									<li class="nav-item"><a class="nav-link" href="/login">Log In/Sign UP</a></li>
									<li class="nav-item" style="margin-top:11.5px;"><a href="/cart" class="cart"><span
												style="color: black;" class="ti-bag"></span></a></li>
									<%}%>
						</ul>
						
                    </div>
                </div>
            </nav>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between">
                    <input type="text" class="form-control" id="search_input" placeholder="Search Here">
                    <button type="submit" class="btn"></button>
                    <span class="lnr lnr-cross" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- End Header Area -->

    <!-- Start Banner Area -->
    <section class="banner-area organic-breadcrumb">
        <div class="container">
            <div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
                <div class="col-first">
                    <h1>Wishlist</h1>
                    <nav class="d-flex align-items-center">
                        <a href="index.html">Home<span class="lnr lnr-arrow-right"></span></a>
                        <a href="category.html">Wishlist</a>
                    </nav>
                </div>
            </div>
        </div>
    </section>
    <!-- End Banner Area -->

    <!--================Cart Area =================-->
    <section class="cart_area">
        <div class="container">
            <div class="cart_inner">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                           
                                <tr>
                                    <th scope="col">Image</th>
                                    <th scope="col">Product</th>
                                    <th scope="col">Price</th>


                                    <th scope="col"> </th>
                                </tr>
                        </thead>
                        <tbody>
                            <% if(productsData.length>0){ productsData.forEach((productsData,index)=>{ %>
                            <tr>
                                <td><img src="/admin/ProductImages/<%=productsData.image[0]%>" width="100px" alt="">
                                </td>
                                <td>
                                    <p>
                                        <%=productsData.productName%>
                                    </p>
                                </td>
                                <td>
                                    <h5>$<%=productsData.price%>
                                    </h5>

                                </td>


                                <td><a class="genric-btn danger"
                                        href="/deleteWishlistItem?id=<%= productsData._id %>">Delete</a></td>
                                <td><a class="genric-btn success"
                                        href="/addToCartWishListItem?id=<%= productsData._id %>">Move To Cart</a></td>
                            </tr>
                            <%} )%>
                            <tr class="out_button_area">
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                                <td>

                                </td>
                            

                                
                                <td>
                                    <div class="checkout_btn_inner d-flex align-items-center">
                                        <a class="gray_btn " href="/shop">Continue Shopping</a>


                                    </div>
                                </td>
                            </tr>
                            <% }else{%>
                                <div>
                                    <h1 class="text-center">Wishlist is empty</h1>
                                </div>



                                <tr class="out_button_area">
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td>
                                    <td>

                                    </td><td>

                                    </td>
                                    <td>
                                        <div class="checkout_btn_inner d-flex align-items-center">
                                            <a class="gray_btn" href="/shop">Continue Shopping</a>


                                        </div>
                                    </td>
                                </tr>
                                <%} %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </section>
    <!--================End Cart Area =================-->

    <!-- start footer Area -->
  
    <!-- End footer Area -->

    <script>
        function changeqnty(userCart, productId, salePrice, id, quantity) {
            $.ajax({
                type: "POST",
                url: '/changeQuantity',
                data: {
                    userData: userCart,
                    productId: productId,
                    quantity: quantity,
                    salePrice: salePrice
                },
                success: (response) => {
                    if (response.success) {
                        let value = document.getElementById(productId).value
                        document.getElementById(productId).value = Number(value) + 1
                        let total = document.getElementById(id).innerHTML
                        document.getElementById(id).innerHTML = Number(total) + Number(salePrice)
                    } else if (response.success == false) {
                        let value = document.getElementById(productId).value
                        document.getElementById(productId).value = Number(value) - 1
                        let total = document.getElementById(id).innerHTML
                        document.getElementById(id).innerHTML = Number(total) - Number(salePrice)
                    } else {
                        alert("Product Deleted")
                        location.reload()
                    }
                },
            })
        }
    </script>
    <%- include('../layouts/userFooter.ejs') %>